.immflyLogo,
  .pokemonLogo {
  @include grid-child(4, 12, 12);
  display: flex;
  justify-content: center;
}

.immflyLogo {
  img {
    margin-top: $spacing-3x;
    margin-bottom: $spacing-1x;
    max-width: 30px;
    height: auto;
    
    @media (min-width: $tablet-min) {
      margin-top: $spacing-6x;
      max-width: 50px;
    }
  } 
}

.pokemonLogo {
  img {
    margin-bottom: $spacing-4x;
    max-width: 60%;
    height: auto;
    
    @media (min-width: $tablet-min) {
      margin-bottom: $spacing-8x;
      max-width: 40%;
    }
  }  
}