.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.immflyLogo {
  max-width: 7%;
  height: auto;
  margin-top: $spacing-3x;
  
  @media (min-width: $screen-md) {
    max-width: 3.5%;
    margin-top: $spacing-6x;
  }  
}

.pokemonLogo {
  max-width: 60%;
  height: auto;
  margin: $spacing-2x 0 $spacing-2x;
  
  @media (min-width: $screen-md) {
    // margin: $spacing-6x 0 $spacing-3x;
    max-width: 30%;
  }  
}